<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>

		<title>Eat A Burger</title>
	</head>
	<body>
		{{{ body }}}




		<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
      	<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
	</body>
</html>

